####################################################
#
# List of approvers for the coffeeAgntcy project
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in
# the repository. Unless a later match takes precedence,
# the following users/teams will be requested for
# review when someone opens a pull request.
# Once the repo reviewers group is created, this should be replaced by that group to have an interface between maintainers and the code owner setup.
* @agntcy/app-sdk-reviewers
